/* .red-bg {
  background-color: red;
}

.blue-bg {
  background-color: blue;
}

.pink-bg {
  background-color: pink;
} */

/* .sign-up-card {
  height:80%;
  max-width: 100%;
} */

/* .login-btn {
  background: transparent;
  border: 1px solid #151E3F;
  min-width: 8vw;
}

.login-btn:hover {
  background: #FFFFFF;
  border: 1px solid #151E3F;
  min-width: 8vw;
} */

.signup-btn {
  background: #44AF69;
  color: #FFFFFF;
  max-width: 50%;
  min-width: 25%;
  margin: 0 auto;
}

.signup-btn:hover {
  background: #2C7043;
  color: #FFFFFF;
}

.landing-row-main {
  height: 85vh;
}

.ab-yellow-text {
  color: #FAB840;
}

.ab-green-text {
  color: #44AF69
}

.landing-h1 {
  font-size: 3.5rem;
}

.login-btn {
  background: transparent;
  border: 1px solid #151E3F;
  min-width: 8vw;
}

.login-btn:hover {
  background: #000000;
  color: #ffffff;
  min-width: 8vw;
}

