<main>
  <div class="container" id="landingPage">
    <div class="row">
      <div class="col-6">
        <div class="vertical-align" style="text-align:center">
          <h1 class="landing-h1 open-sans ab-yellow-text">Track auto repairs with AutoBuddy!</h1>
          <h5 class="open-sans">AutoBuddy is the simplest way for consumers and repair shops to keep track of their auto repairs</h5>
          <button class="btn signup-btn" type="submit" [routerLink]="['/signup']">Signup for free!</button>
        </div>
      </div>
    </div>
  </div>


  <div class="about">
    <img alt="" src="../../../assets/images/repair.png" class="image float-left">
    <div class="row">
      <div class="col-3">
        <img alt="wrench"src ="../../../assets/images/wrench.png">
        <p class="clearfix  open-sans font-weight">
          Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
          vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
          vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam. Nam
          prompta similique
        </p>
      </div>
      <div class="col-3">
        <img alt="handshake"src ="../../../assets/images/hand-shake.png">
        <p class="clearfix  open-sans font-weight">
          Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
          vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
          vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam. Nam
          prompta similique
        </p>
      </div>
      <div class="col-3">
        <img alt="car" src="../../../assets/images/sports-car.png">
        <p class="clearfix  open-sans font-weight">
          Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
          vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
          vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam. Nam
          prompta similique
        </p>
      </div>
    </div>
  </div>

  <div class="aboutTwo">
    <div class="row ">
      <div class="col-12">
        <div>
          <div>
            <p class="clearfix open-sans font-weight">
              Lorem ipsum dolor sit amet, ut vel zril oratio repudiandae, vim no aperiri salutandi. Ne gubergren sententiae moderatius
              vim, graeco aliquid molestiae eu mea. Quo laoreet repudiandae at, nostro nominavi sea ne. No pro munere feugiat
              vulputate, vim at minim accusamus dissentiunt. Ius ne aeterno expetenda voluptatum, ad nam aperiam accusam.
              Nam prompta similique at. Eu mel omittam qualisque. Est cu viderer salutandi. Cu vim posse falli platonem,
              in qui erroribus adipiscing elaboraret. Te movet euripidis vix. Mea no utamur prompta, soluta debitis mnesarchum
              vim ut. At sea copiosae explicari scripserit, ne usu phaedrum qualisque deseruisse. Eum eirmod cetero an. Nostrum
              intellegebat vel in, at voluptua gubergren vis. Vis ex soleat expetenda imperdiet, justo commodo accusata vel
              ad. Vix eu dolore nonumes, mel eu molestiae scriptorem. Ea vel facer facilisis sadipscing. Cu facer eirmod
              contentiones vel, adhuc mentitum assentior vim id, vix modus periculis id. Dolor vulputate vel cu, in prodesset
              deseruisse cum. Ut purto interpretaris usu. Esse habemus menandri vim ea, ius eu nemore detracto. Et velit
              harum nam, invidunt temporibus duo no. Pro cu dissentiunt philosophia, vide minim reformidans no pro. Nemore
              appareat abhorreant an sed, nam illud populo delicata ea. Qui an legere graecis mediocrem, at tale convenire
              reformidans mei. At usu minim ullamcorper, mea an putent audire petentium.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
