<div class="container">
  <div class="row landing-row-main">
    <div class="col-12">
      <div class="vertical-align" style="text-align:center">
        <h1 class="landing-h1 open-sans ab-yellow-text">Track auto repairs with AutoBuddy!</h1>
        <h5 class="open-sans">AutoBuddy is the simplest way for consumers and repair shops to keep track of their auto repairs</h5>
        <button class="btn signup-btn" type="submit" [routerLink]="['/signup']">Signup for free!</button>
      </div>
    </div>
  </div>
</div>