<div class="container">
  <div class="row landing-row-main">
    <div class="col-6">
      <div class="vertical-align">
        <h1>Do something</h1><br>
        <h1>with AutoBuddy</h1>
        <h4>Some other text giving a little more detail about what AutoBuddy does.</h4>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <div class="col-6">
      <div class="Aligner one-hundred-precent-height">
        <div class="Aligner-item">
          <div class="card">
            <div class="card-body">
              <form>
                <div class="form-group">
                  <!-- <label for="exampleInputEmail1">Email address</label> -->
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                </div>
                <div class="form-group">
                  <!-- <label for="exampleInputPassword1">Password</label> -->
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>