.signup-aligner {
  height: 85vh;
}
.signup-aligner-item {
  min-height: 30%;
  width: 34%;
}

.signup-card {
  background: #fafafa;
  max-height: 80vh;
  overflow-y: auto;
}


.signup-card-body {
  padding-bottom: 0%;

}

.submit-signup-btn {
  background: #44AF69;
  color: #FFFFFF;
}

.submit-signup-btn:hover {
  background: #2C7043;
  color: #FFFFFF;
}

.orange {
  background-color: #FAB840;
}

.card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.round-edges {
  border-radius: 25px !important;
}

/*  Trying input style */

input, textarea {
  flex: 1;
  padding: 0.7em;
  border: none;
  border-bottom: 0.1em solid white;
  border-radius: 0.2em;
  background-color: #FAB840;
  color: white;
}

textarea {
  border: 0.1em solid white;

}
input:focus, textarea:focus {
  background-color:  #FAB840;
  color: white;
}

input::placeholder, textarea::placeholder {
  color: white;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* Scrollbar background color  */

/* ::-webkit-scrollbar {
  background-color: #FAB840;
}
 */

::-webkit-scrollbar-thumb {
 background-color: black;
  width: 1px;
  margin-left: 5px;
  padding-left: 5px;
}
