.signup-aligner {
  height: 85vh;
}
.signup-aligner-item {
  min-height: 30%;
  width: 30%;
}

.signup-card {
  background: #fafafa;
}

.signup-card-body {
  padding-bottom: 0%;
}

.submit-signup-btn {
  background: #44AF69;
  color: #FFFFFF;
}

.submit-signup-btn:hover {
  background: #2C7043;
  color: #FFFFFF;
}

.card {
  background-color: #FAB840;
}

.round-edges {
  border-radius: 25px;
}

/*  Trying input style */

input, textarea {
  flex: 1;
  padding: 0.7em;
  border: none;
  border-bottom: 0.1em solid white;
  border-radius: 0.2em;
  background-color: #FAB840;
  color: white;
}

textarea {
  border: 0.1em solid white;

}
input:focus, textarea:focus {
  background-color:  #FAB840;
  color: white;
}

input::placeholder, textarea::placeholder {
  color: white;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}
