<div class="wrapper">
    <div (mouseleave)="openNav($event)" class="contents">
        <div class="inner">
            <button  [class]="nav"  [routerLink]="['/garage']"><span class = "mask"></span>Garage </button>
            <button    [class]="nav"type="submit" [routerLink]="['/signup']"><span class = "mask"></span>Signup</button>
            <button  [class]="nav" type="submit" [routerLink]="['/login']"><span class = "mask"></span>Login</button>
        </div>
    </div>
    <span class="label">
    <img (mouseenter)="openNav($event)"  alt="Menu" src="../../../assets/images/menu.png" class="hamburger mr-10" >
  </span>


</div>
